name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-20.04", "macos-10.15", "macos-11"]

    name: Run Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Terramate
        uses: giantswarm/install-binary-action@e97402b0aa95939ddba5b36aa77f8abc58a37fd5
        with:
          binary: terramate
          version: 0.2.0
          # https://github.com/mineiros-io/terramate/releases/download/v${version}/terramate_${version}_${os}_${arch}.tar.gz
          download_url: "https://github.com/mineiros-io/${binary}/releases/download/v${version}/terramate_${version}_linux_x86_64.tar.gz"
          tarball_binary_path: "${binary}"

      - name: Clean Up Terramate Install Artifacts
        run: rm -rf terramate

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.2.3
          terraform_wrapper: false

      - name: Check Terraform Formatting
        run: terraform fmt -recursive -check -no-color

      - name: Check Terramate Formatting
        run: terramate fmt --check

      - name: List all Stacks
        run: terramate list

      - name: Initialize Stacks
        run: terramate run -- terraform init

      - name: Validate Stacks
        run: terramate run -- terraform validate

  done:
    name: Static Analysis
    runs-on: ubuntu-20.04
    needs: tests

    steps:
      - name: Done
        run: "true"
